/******************* vars and mixins *******************************/
fullscreen, body, html, #pokeapp, #loading { height: 100%; width: 100%; overflow: hidden; position: fixed; top: 0px; left: 0px; }

body { background: url(bg.png); color: #eee; }

#loading { z-index: 1000; background: rgba(0, 0, 0, 0.4) url("loading.gif") 50% 50% no-repeat; background-size: 200px 200px; }

#pokegif1 { position: absolute; max-width: 16%; z-index: -1; left: 5%; }

.compact #pokegif1 { top: 0px; left: 0px; }

#pokeapp #genmode { width: 25px; height: 48px; vertical-align: top; cursor: pointer; }
#pokeapp #header, #pokeapp #version { text-align: center; }
#pokeapp #sorttable { width: 110px; }
#pokeapp #clear { width: 20px; background: url(clear.png) 50% 50% no-repeat; background-size: contain; height: 40px; border: none; outline: none; }
#pokeapp #main { overflow-y: auto; overflow-x: hidden; margin-top: 70px; width: 100%; -webkit-overflow-scrolling: touch; }
#pokeapp #main table { width: 100%; }
#pokeapp #main table thead { position: absolute; margin-top: -50px; width: 100%; white-space: nowrap; text-align: left; }
#pokeapp #main table thead th { display: inline-block; width: 65%; padding: 10px 20px 10px 20px; }
#pokeapp #main table tbody { color: black; display: block; margin-top: 0px; width: 100%; }
#pokeapp #main table tbody tr { border-top: 1px solid #aaa; }
#pokeapp #main table tbody tr:nth-child(odd) { background-image: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(#ccc)); background-image: -webkit-linear-gradient(top, whitesmoke, #ccc); background-image: -moz-linear-gradient(top, whitesmoke, #ccc); background-image: -ms-linear-gradient(top, whitesmoke, #ccc); background-image: -o-linear-gradient(top, whitesmoke, #ccc); background-image: linear-gradient(top, whitesmoke, #ccc); }
#pokeapp #main table tbody tr:nth-child(even) { background-image: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(#eee)); background-image: -webkit-linear-gradient(top, whitesmoke, #eee); background-image: -moz-linear-gradient(top, whitesmoke, #eee); background-image: -ms-linear-gradient(top, whitesmoke, #eee); background-image: -o-linear-gradient(top, whitesmoke, #eee); background-image: linear-gradient(top, whitesmoke, #eee); }
#pokeapp #main table tbody tr.new-item { background-image: -webkit-gradient(linear, left top, left bottom, from(whitesmoke), to(#D6FFCF)); background-image: -webkit-linear-gradient(top, whitesmoke, #D6FFCF); background-image: -moz-linear-gradient(top, whitesmoke, #D6FFCF); background-image: -ms-linear-gradient(top, whitesmoke, #D6FFCF); background-image: -o-linear-gradient(top, whitesmoke, #D6FFCF); background-image: linear-gradient(top, whitesmoke, #D6FFCF); }
#pokeapp #main table tbody td { padding: 20px 20px 10px 20px; width: 20%; }
#pokeapp #main table tbody td:first-child { width: 100px; text-align: right; }
#pokeapp #main table tbody td:first-child input.edit, #pokeapp #main table tbody td:first-child button.edit { width: 43px; }
#pokeapp #main table tbody label { cursor: pointer; }
#pokeapp #main table tbody input.edit, #pokeapp #main table tbody button.edit { display: none; }
#pokeapp #main table tbody .editing label { display: none; }
#pokeapp #main table tbody .editing input.edit, #pokeapp #main table tbody .editing button.edit { display: inline; padding-left: 5px; padding-right: 5px; text-align: inherit; }

#pokelist.compact2 tr td:nth-child(5), #pokelist.compact2 tr td:nth-child(6) { display: inline-block; margin-left: -215%; margin-top: 40px; }
#pokelist.compact2 tr td:nth-child(6) { margin-left: 40px; }
#pokelist.compact tr td:nth-child(6) { display: inline-block; margin-left: -380%; margin-top: 40px; }
#pokelist.compact td { vertical-align: top; }
#pokelist.compact td input.edit, #pokelist.compact td button.edit { padding: 5px; margin-top: -10px; }
#pokelist.compact2 td { vertical-align: top; }
#pokelist.compact2 td input.edit, #pokelist.compact2 td button.edit { padding: 5px; margin-top: -10px; }

.hidden { display: none; }

.blue { color: royalblue; }

input, button { -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; padding: 14px; width: 105px; border: 1px solid #3a9a95; color: #383838; }

button { padding: 15px; color: #f4f4f4; background: #4aaaa5; font-weight: bold; border: 0px solid #e3edf4; border-bottom: 2px solid #3a9a95; opacity: 0.8; }
button:not([disabled]):hover { opacity: 1; }

embed { cursor: pointer; box-sizing: border-box; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; border-radius: 4px; }
embed:hover { border: 2px solid #aaa; }
embed:active { border: 2px inset #888; }

/*# sourceMappingURL=main.css.map */
